%a{:href => "meetups/#{meetup.id}"}  
  %div{class: "meetup", id: "meetup_" + meetup.id.to_s}
    %h2=meetup.name
    %p=meetup.description
    %p=meetup.location_id
    -if current_user == meetup.superhost
      %p Your event
    %br/
    %p=meetup.invitations.where(user_id: current_user.id).first.status