= form_tag meetup_comments_path(@meetup) do |f|
  = label_tag 'comment'
  = text_area_tag "comment", "", placeholder: "Enter Comment", class: "comment"
  = submit_tag "Send", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..."
