%head
  %script{src:"https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&key=AIzaSyC8iHCBUtd6LXJdkB7Jzh0Kj5qfcDtg6fs"}
%h1=@meetup.name
%h2 Info
%p Current Favourite Date 12th Feb - 
-if current_user == @meetup.superhost
  "You are the superhost"
%button#event_search Find Nearby Events
#map-canvas
%input#pac-input

%h2 People
%h3 Attending
-@attending.each do |attendant|
  = render 'attendant', attendant: attendant
%h3 Invited
-@invited.each do |attendant|
  = render 'attendant', attendant: attendant
%h3 Declined
-@declined.each do |attendant|
  = render 'attendant', attendant: attendant
- if current_user == @meetup.superhost || @meetup.host
  =form_for @meetup do |f|
    =link_to_add_invitation "Invite Another", f, :invitations
    =f.submit
%h3 Add Date Options
- if current_user == @meetup.superhost || @meetup.host
  =form_for @meetup, url: add_dates_path do |f|
    =f.select :date_options_1, options_for_select(Meetup.options_1)
    =f.number_field :date_options_2
    =f.select :date_options_3, options_for_select(Meetup.options_3)
    =f.submit