%head
  %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyC8iHCBUtd6LXJdkB7Jzh0Kj5qfcDtg6fs"}
%h1=@meetup.name
%h2 Info
%p Current Favourite Date 12th Feb - 
-if current_user == @meetup.superhost
  "You are the superhost"
#map-canvas
%button#locator Locate me!
%h2 People
%h3 Attending
-@attending.each do |attendant|
  = render 'attendant', attendant: attendant
%h3 Invited
-@invited.each do |attendant|
  = render 'attendant', attendant: attendant
%h3 Declined
-@declined.each do |attendant|
  = render 'attendant', attendant: attendant
- if current_user == @meetup.superhost || @meetup.host
  =form_for @meetup do |f|
    =link_to_add_invitation "Invite Another", f, :invitations
    =f.submit