// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.meetup {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: pink;
  margin: 5px;
  padding: 5px;
}