%p
  %strong Name
  =@location.name
%p  
  %strong Description
  =@location.description
%p
  %strong Address 1
  =@location.address_1
%p
  %strong Address 2
  =@location.address_2
%p
  %strong Town
  =@location.town
%p
  %strong County
  =@location.county
%p
  %strong Postcode
  =@location.postcode

